h1 {
  color: Purple;
  
}
p {
    color: Purple;
    text-align: center;
    font-family: copperplate;
    font-size: 20px;
    

/* This is a single-line comment. For more info on CSS, go to https://www.w3schools.com/css/default.asp. */
